@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'); 

* {
  font-family: 'Source Sans Pro', sans-serif !important;

 }



.App {
  text-align: center;
  min-height: 100vh;
  height: 100vh
}

.questionButtons {
  display:'flex';
  flex-flow: column;
  margin: auto;
  width: 90%;
  height: 100%;
}

.mainContent {
  width: 100%;
  margin: auto;
  height: 100%;
}

.contentHeader {
  font-family: 'Source Sans Pro', sans-serif;
}

a:visited{
  text-decoration: none;
  color: black;
}